# mian clock from AD9914_1
NET "clk" LOC = H1 | TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 8 ns HIGH 50%;
NET "clk" IOSTANDARD = LVCMOS33;

#########################################################
# AD9914_1
NET "master_reset_1" LOC = G1;
NET "io_update_1" LOC = F1;
NET "dctrl_1" LOC = V8;
NET "dhold_1" LOC = V7;
NET "dover_1" LOC = V6;
NET "osk_1" LOC = V5;
NET "dctrl_1" IOSTANDARD = LVCMOS33;
NET "dhold_1" IOSTANDARD = LVCMOS33;
NET "dover_1" IOSTANDARD = LVCMOS33;
NET "io_update_1" IOSTANDARD = LVCMOS33;
NET "master_reset_1" IOSTANDARD = LVCMOS33;
NET "osk_1" IOSTANDARD = LVCMOS33;

NET "p_pwd_1" LOC = C9;
NET "p_wr_1" LOC = C5;
NET "p_rd_1" LOC = D6;
NET "p_wr_1" IOSTANDARD = LVCMOS33;
NET "p_rd_1" IOSTANDARD = LVCMOS33;
NET "p_pwd_1" IOSTANDARD = LVCMOS33;

NET "function_select_1[3]" LOC = L2;
NET "function_select_1[2]" LOC = M3;
NET "function_select_1[1]" LOC = K6;
NET "function_select_1[0]" LOC = P3;
NET "function_select_1[3]" IOSTANDARD = LVCMOS33;
NET "function_select_1[2]" IOSTANDARD = LVCMOS33;
NET "function_select_1[1]" IOSTANDARD = LVCMOS33;
NET "function_select_1[0]" IOSTANDARD = LVCMOS33;

NET "profile_select_1[2]" LOC = L4;
NET "profile_select_1[1]" LOC = P2;
NET "profile_select_1[0]" LOC = R5;
NET "profile_select_1[2]" IOSTANDARD = LVCMOS33;
NET "profile_select_1[1]" IOSTANDARD = LVCMOS33;
NET "profile_select_1[0]" IOSTANDARD = LVCMOS33;

NET "p_addr_1[7]" LOC = J3;
NET "p_addr_1[6]" LOC = J7;
NET "p_addr_1[5]" LOC = G6;
NET "p_addr_1[4]" LOC = G3;
NET "p_addr_1[3]" LOC = E3;
NET "p_addr_1[2]" LOC = D2;
NET "p_addr_1[1]" LOC = C2;
NET "p_addr_1[0]" LOC = P4;
NET "p_addr_1[7]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[6]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[5]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[4]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[3]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[2]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[1]" IOSTANDARD = LVCMOS33;
NET "p_addr_1[0]" IOSTANDARD = LVCMOS33;

NET "p_data_1[7]" LOC = L1;
NET "p_data_1[6]" LOC = K1;
NET "p_data_1[5]" LOC = J1;
NET "p_data_1[4]" LOC = R3;
NET "p_data_1[3]" LOC = E1;
NET "p_data_1[2]" LOC = D1;
NET "p_data_1[1]" LOC = C1;
NET "p_data_1[0]" LOC = L3;
NET "p_data_1[7]" IOSTANDARD = LVCMOS33;
NET "p_data_1[6]" IOSTANDARD = LVCMOS33;
NET "p_data_1[5]" IOSTANDARD = LVCMOS33;
NET "p_data_1[4]" IOSTANDARD = LVCMOS33;
NET "p_data_1[3]" IOSTANDARD = LVCMOS33;
NET "p_data_1[2]" IOSTANDARD = LVCMOS33;
NET "p_data_1[1]" IOSTANDARD = LVCMOS33;
NET "p_data_1[0]" IOSTANDARD = LVCMOS33;

#########################################################
# AD9914_2
NET "master_reset_2" LOC = A11;
NET "io_update_2" LOC = A12;
NET "dctrl_2" LOC = B2;
NET "dhold_2" LOC = B3;
NET "dover_2" LOC = F4;
NET "osk_2" LOC = F5;
NET "dctrl_2" IOSTANDARD = LVCMOS33;
NET "dhold_2" IOSTANDARD = LVCMOS33;
NET "dover_2" IOSTANDARD = LVCMOS33;
NET "io_update_2" IOSTANDARD = LVCMOS33;
NET "master_reset_2" IOSTANDARD = LVCMOS33;
NET "osk_2" IOSTANDARD = LVCMOS33;

NET "p_pwd_2" LOC = H13;
NET "p_wr_2" LOC = E11;
NET "p_rd_2" LOC = G14;
NET "p_wr_2" IOSTANDARD = LVCMOS33;
NET "p_rd_2" IOSTANDARD = LVCMOS33;
NET "p_pwd_2" IOSTANDARD = LVCMOS33;

NET "function_select_2[3]" LOC = K13;
NET "function_select_2[2]" LOC = J16;
NET "function_select_2[1]" LOC = J13;
NET "function_select_2[0]" LOC = B16;
NET "function_select_2[3]" IOSTANDARD = LVCMOS33;
NET "function_select_2[2]" IOSTANDARD = LVCMOS33;
NET "function_select_2[1]" IOSTANDARD = LVCMOS33;
NET "function_select_2[0]" IOSTANDARD = LVCMOS33;

NET "profile_select_2[2]" LOC = G16;
NET "profile_select_2[1]" LOC = D14;
NET "profile_select_2[0]" LOC = C17;
NET "profile_select_2[2]" IOSTANDARD = LVCMOS33;
NET "profile_select_2[1]" IOSTANDARD = LVCMOS33;
NET "profile_select_2[0]" IOSTANDARD = LVCMOS33;

NET "p_addr_2[7]" LOC = C18;
NET "p_addr_2[6]" LOC = D18;
NET "p_addr_2[5]" LOC = E18;
NET "p_addr_2[4]" LOC = F18;
NET "p_addr_2[3]" LOC = G18;
NET "p_addr_2[2]" LOC = F11;
NET "p_addr_2[1]" LOC = F12;
NET "p_addr_2[0]" LOC = C8;
NET "p_addr_2[7]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[6]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[5]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[4]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[3]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[2]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[1]" IOSTANDARD = LVCMOS33;
NET "p_addr_2[0]" IOSTANDARD = LVCMOS33;

NET "p_data_2[7]" LOC = A6;
NET "p_data_2[6]" LOC = A7;
NET "p_data_2[5]" LOC = A8;
NET "p_data_2[4]" LOC = B8;
NET "p_data_2[3]" LOC = A13;
NET "p_data_2[2]" LOC = A14;
NET "p_data_2[1]" LOC = A15;
NET "p_data_2[0]" LOC = A16;
NET "p_data_2[7]" IOSTANDARD = LVCMOS33;
NET "p_data_2[6]" IOSTANDARD = LVCMOS33;
NET "p_data_2[5]" IOSTANDARD = LVCMOS33;
NET "p_data_2[4]" IOSTANDARD = LVCMOS33;
NET "p_data_2[3]" IOSTANDARD = LVCMOS33;
NET "p_data_2[2]" IOSTANDARD = LVCMOS33;
NET "p_data_2[1]" IOSTANDARD = LVCMOS33;
NET "p_data_2[0]" IOSTANDARD = LVCMOS33;

## AD9914_3
#NET "master_reset_3" LOC = G1;
#NET "io_update_3" LOC = F1;
#NET "dctrl_3" LOC = V8;
#NET "dhold_3" LOC = V7;
#NET "dover_3" LOC = V6;
#NET "osk_3" LOC = V5;
#NET "dctrl_3" IOSTANDARD = LVCMOS33;
#NET "dhold_3" IOSTANDARD = LVCMOS33;
#NET "dover_1" IOSTANDARD = LVCMOS33;
#NET "io_update_1" IOSTANDARD = LVCMOS33;
#NET "master_reset_1" IOSTANDARD = LVCMOS33;
#NET "osk_1" IOSTANDARD = LVCMOS33;
#
#NET "p_pwd_1" LOC = C9;
#NET "p_wr_1" LOC = C5;
#NET "p_rd_1" LOC = D6;
#NET "p_wr_1" IOSTANDARD = LVCMOS33;
#NET "p_rd_1" IOSTANDARD = LVCMOS33;
#NET "p_pwd_1" IOSTANDARD = LVCMOS33;
#
#NET "function_select_1[3]" LOC = L2;
#NET "function_select_1[2]" LOC = M3;
#NET "function_select_1[1]" LOC = K6;
#NET "function_select_1[0]" LOC = P3;
#NET "function_select_1[3]" IOSTANDARD = LVCMOS33;
#NET "function_select_1[2]" IOSTANDARD = LVCMOS33;
#NET "function_select_1[1]" IOSTANDARD = LVCMOS33;
#NET "function_select_1[0]" IOSTANDARD = LVCMOS33;
#
#NET "profile_select_1[2]" LOC = L4;
#NET "profile_select_1[1]" LOC = P2;
#NET "profile_select_1[0]" LOC = R5;
#NET "profile_select_1[2]" IOSTANDARD = LVCMOS33;
#NET "profile_select_1[1]" IOSTANDARD = LVCMOS33;
#NET "profile_select_1[0]" IOSTANDARD = LVCMOS33;
#
#NET "p_addr_1[7]" LOC = J3;
#NET "p_addr_1[6]" LOC = J7;
#NET "p_addr_1[5]" LOC = G6;
#NET "p_addr_1[4]" LOC = G3;
#NET "p_addr_1[3]" LOC = E3;
#NET "p_addr_1[2]" LOC = D2;
#NET "p_addr_1[1]" LOC = C2;
#NET "p_addr_1[0]" LOC = P4;
#NET "p_addr_1[7]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[6]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[5]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[4]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[3]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[2]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[1]" IOSTANDARD = LVCMOS33;
#NET "p_addr_1[0]" IOSTANDARD = LVCMOS33;
#
#NET "p_data_1[7]" LOC = L1;
#NET "p_data_1[6]" LOC = K1;
#NET "p_data_1[5]" LOC = J1;
#NET "p_data_1[4]" LOC = R3;
#NET "p_data_1[3]" LOC = E1;
#NET "p_data_1[2]" LOC = D1;
#NET "p_data_1[1]" LOC = C1;
#NET "p_data_1[0]" LOC = L3;
#NET "p_data_1[7]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[6]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[5]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[4]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[3]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[2]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[1]" IOSTANDARD = LVCMOS33;
#NET "p_data_1[0]" IOSTANDARD = LVCMOS33;
#

#########################################################
# AD9914_4
#NET "master_reset_4" LOC = A11;
#NET "io_update_4" LOC = A12;
#NET "dctrl_4" LOC = B2;
#NET "dhold_4" LOC = B3;
#NET "dover_4" LOC = F4;
#NET "osk_4" LOC = F5;
#NET "dctrl_4" IOSTANDARD = LVCMOS33;
#NET "dhold_4" IOSTANDARD = LVCMOS33;
#NET "dover_4" IOSTANDARD = LVCMOS33;
#NET "io_update_4" IOSTANDARD = LVCMOS33;
#NET "master_reset_4" IOSTANDARD = LVCMOS33;
#NET "osk_4" IOSTANDARD = LVCMOS33;
#
#NET "p_pwd_4" LOC = H13;
#NET "p_wr_4" LOC = E11;
#NET "p_rd_4" LOC = G14;
#NET "p_wr_4" IOSTANDARD = LVCMOS33;
#NET "p_rd_4" IOSTANDARD = LVCMOS33;
#NET "p_pwd_4" IOSTANDARD = LVCMOS33;
#
#NET "function_select_4[3]" LOC = K13;
#NET "function_select_4[2]" LOC = J16;
#NET "function_select_4[1]" LOC = J13;
#NET "function_select_4[0]" LOC = B16;
#NET "function_select_4[3]" IOSTANDARD = LVCMOS33;
#NET "function_select_4[2]" IOSTANDARD = LVCMOS33;
#NET "function_select_4[1]" IOSTANDARD = LVCMOS33;
#NET "function_select_4[0]" IOSTANDARD = LVCMOS33;
#
#NET "profile_select_4[2]" LOC = G16;
#NET "profile_select_4[1]" LOC = D14;
#NET "profile_select_4[0]" LOC = C17;
#NET "profile_select_4[2]" IOSTANDARD = LVCMOS33;
#NET "profile_select_4[1]" IOSTANDARD = LVCMOS33;
#NET "profile_select_4[0]" IOSTANDARD = LVCMOS33;
#
#NET "p_addr_4[7]" LOC = C18;
#NET "p_addr_4[6]" LOC = D18;
#NET "p_addr_4[5]" LOC = E18;
#NET "p_addr_4[4]" LOC = F18;
#NET "p_addr_4[3]" LOC = G18;
#NET "p_addr_4[2]" LOC = F11;
#NET "p_addr_4[1]" LOC = F12;
#NET "p_addr_4[0]" LOC = C8;
#NET "p_addr_4[7]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[6]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[5]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[4]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[3]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[2]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[1]" IOSTANDARD = LVCMOS33;
#NET "p_addr_4[0]" IOSTANDARD = LVCMOS33;
#
#NET "p_data_4[7]" LOC = A6;
#NET "p_data_4[6]" LOC = A7;
#NET "p_data_4[5]" LOC = A8;
#NET "p_data_4[4]" LOC = B8;
#NET "p_data_4[3]" LOC = A13;
#NET "p_data_4[2]" LOC = A14;
#NET "p_data_4[1]" LOC = A15;
#NET "p_data_4[0]" LOC = A16;
#NET "p_data_4[7]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[6]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[5]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[4]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[3]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[2]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[1]" IOSTANDARD = LVCMOS33;
#NET "p_data_4[0]" IOSTANDARD = LVCMOS33;
